.silo {
    background: var(--grad-preto),
                url("../../img/login/bg.png") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.silo .silo-info {
    background: var(--grad-azul);
    border-radius: 15px;
    padding: 15px;
}

.silo .silo-info .silo-info-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between
}

.silo .silo-info .silo-info-header .silo-info-title {
    color: var(--branco);
    font-size: 18px;
}

.silo .silo-info .silo-info-bar {
    width: 100%;
    height: 20px;
    border: 4px solid var(--branco);
    border-radius: 15px;
    background: transparent;
    padding: 0px;
}

.silo .silo-dados {
    background-color: var(--branco);
    border-radius: 15px;
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.silo .silo-dados .silo-title {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.silo .silo-dados .silo-title .silo-title-text,
.silo .silo-dados .silo-title .silo-title-subtitle {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.silo .silo-dados .silo-title .silo-title-subtitle {
    color: var(--azul);
}

.silo .silo-dados .silo-arquivos {
    padding: 20px;
}

.silo .silo-dados .silo-arquivos .silo-arquivos-sort {
    display: none;
}

.silo .silo-dados .silo-arquivos .btn-icon,
.silo .silo-dados .silo-arquivos .btn-icon svg {
    width: 20px;
    height: 20px;
    display: block;
}

.silo .silo-dados .silo-arquivos .silo-item-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.silo .silo-dados .silo-arquivos .silo-item-box .silo-item-edit,
.silo .silo-dados .silo-arquivos .silo-item-box .silo-item-edit svg {
    width: 15px;
    height: 15px;
    display: block;
}

.silo .silo-dados .silo-arquivos .silo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.silo .silo-dados .silo-arquivos .silo-item .silo-item-title {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.silo .silo-dados .silo-arquivos .silo-item:hover .silo-item-title {
    text-decoration: underline;
}

.silo .silo-dados .silo-arquivos .silo-item .icon-pasta svg {
    /* Aqui vai a cor para o respectivo ícone, tendo --preto como padrão */
    color: var(--laranja);
}

.silo .silo-dados .silo-arquivos .silo-item .icon-zip svg {
    /* Aqui vai a cor para o respectivo ícone, tendo --preto como padrão */
    color: var(--preto);
}

.silo .silo-dados .silo-arquivos .silo-item .icon-file svg {
    /* Aqui vai a cor para o respectivo ícone, tendo --preto como padrão */
    color: var(--preto);
}

.silo .silo-dados .silo-arquivos .silo-item .icon-pdf svg {
    /* Aqui vai a cor para o respectivo ícone, tendo --preto como padrão */
    color: var(--preto);
}

.silo .silo-dados .silo-arquivos .silo-item .icon-txt svg {
    /* Aqui vai a cor para o respectivo ícone, tendo --preto como padrão */
    color: var(--preto);
}

.silo .silo-dados .silo-arquivos .silo-item .icon-img svg {
    /* Aqui vai a cor para o respectivo ícone, tendo --preto como padrão */
    color: var(--azul);
}

.silo .silo-dados .silo-dados-content {
    background-color: var(--preto-t);
    border-radius: 15px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    overflow: hidden;
    height: 0px;
}

.silo .silo-dados .silo-dados-content .silo-dados-content-space {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    position: relative;
}

.silo .silo-dados .silo-dados-add-btn {
    align-items: center;
    background-color: var(--cinza-c);
    color: var(--preto);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 8px;
    padding: 8px 15px;
}

.silo .silo-dados .silo-dados-add-btn svg {
    width: 15px;
    height: 15px;
}

.silo .silo-dados .silo-dados-btn {
    border-radius: 100%;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 15px;
    right: 15px;
    transition: all 0.3s ease;
    z-index: 4;
}

.silo .silo-dados .silo-dados-btn.active {
    background-color: var(--preto);
}

.silo .silo-dados .silo-dados-btn .btn-icon,
.silo .silo-dados .silo-dados-btn .btn-icon svg {
    display: block;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    transition: all 0.3s ease;
}