#conteudo {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 2;
}

.sistema {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sistema.fundo-img {
    background: var(--grad-preto),
                url("../../img/login/bg.png") no-repeat center center;
    background-size: cover;
}

.sistema .sistema-main {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 40px;

    border-radius: 30px;

    max-width: 1300px;
    width: 100%;

    margin: 60px auto; /* centraliza horizontalmente */
}

.sistema .page-title {
    padding: 15px 10px;
}

.sistema .main-title {
    font-weight: bold;
    font-size: 28px;
    padding-top: 100px;
}

.sistema .menu-links {
    background-color: var(--branco);
    padding: 20px 10px;
    border-radius: 15px;
    max-width: 320px;
    margin-bottom: -60px;
}

.sistema .principais-abas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 0px 10px;
    background: transparent;
    width: 100%;
    z-index: 8;
}

.sistema .apontamento {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 70px 10px 10px 10px;
    padding-bottom: 30px;
}

.sistema .apontamento .apontamento-collapse {
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: var(--branco);
    z-index: 6;
}

.sistema .apontamento .apontamento-collapse .apontamento-header {
    border-radius: 15px;
    color: var(--branco);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.sistema .apontamento .apontamento-collapse .apontamento-header .apontamento-title {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sistema .apontamento .apontamento-collapse .apontamento-header .apontamento-title .apontamento-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    font-weight: bold;
}

.sistema .apontamento .apontamento-collapse .apontamento-header .apontamento-title .apontamento-title-text {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.sistema .apontamento .apontamento-collapse .apontamento-header .apontamento-icon {
    padding: 0px 10px;
}

.sistema .apontamento .apontamento-collapse .apontamento-header .apontamento-icon svg {
    width: 15px;
    height: 15px;
    transform: rotate(0deg);
    transition: all 0.4s ease;
}

.sistema .apontamento .apontamento-collapse.active .apontamento-header .apontamento-icon svg {
    transform: rotate(180deg);
}

.sistema .apontamento .apontamento-collapse .main-tabela {
    height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 4;
}

.sistema .apontamento .apontamento-collapse.active .main-tabela {
    height: auto;
}

.sistema .apontamento .apontamento-collapse .main-tabela .nenhum-apontamento {
    text-align: left;
    font-size: 12px;
    padding: 0px 20px;
}

.sistema .apontamento .apontamento-tabela {
    border-collapse: separate;
    border-spacing: 8px 2px;
    padding: 10px;
    width: 100%;
    overflow: scroll;
}
.sistema .apontamento .apontamento-tabela .espaco-tr {
    height: 10px;
    padding: 0;
    border: none;
}

.sistema .apontamento .apontamento-tabela .espaco-tr:hover {
    background-color: var(--branco);
}

.sistema .apontamento .apontamento-tabela thead {
    width: 100%;
}

.sistema .apontamento .apontamento-tabela th {
    background-color: var(--cinza-b);
    border-radius: 15px;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 12px;
}

.sistema .apontamento-fazer .apontamento-tabela th:hover,
.sistema .apontamento-fazer .apontamento-tabela th.filtro  {
    background-color: var(--laranja);
    color: var(--branco);
}

.sistema .apontamento-concluido .apontamento-tabela th:hover,
.sistema .apontamento-concluido .apontamento-tabela th.filtro  {
    background-color: var(--azul);
    color: var(--branco);
}

.sistema .apontamento .apontamento-tabela tbody {
    font-size: 12px;
    text-align: center;
    border-spacing: 0px;
}

.sistema .apontamento .apontamento-tabela td {
    padding: 2px 5px;
    line-height: 15px;
    justify-content: center;
    align-items: center;
}

.sistema .apontamento .apontamento-tabela tbody tr:hover {
    background-color: var(--cinza-b);
}

.sistema .apontamento .apontamento-tabela td:first-child {
    font-weight: bold;
}

.sistema .apontamento .apontamento-tabela .apontamento-produto {
    font-weight: bold;
    border-radius: 15px;
    color: var(--branco);
    display: inline-block;
    padding: 2px 10px;
}

.sistema .principais-abas .item-box.prop-box {
    background-color: var(--branco);
    padding: 0px;
    border-radius: 15px;
    max-width: 320px;
    margin: 0px;
}

.sistema .prop-box .item .item-title {
    font-size: 18px;
}

.sistema .prop-box .item .item-edit .edit.btn {
    padding: 4px 10px;
    font-size: 12px;
}

.sistema {
    display: flex;
    justify-content: center;
    align-items: center; /* centraliza vertical também */
}